body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 70px;
    background-color: rgb(118, 172, 30);
    top: 0;
    margin: 0;
    padding: 0;

    h1{
        width: 100%;
        font-size: 28px;
        margin-left: 10%;
        color: rgb(227, 234, 239);
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        color: whitesmoke;
        height: 100%;
        margin-right: 40px;

        font-size: 24px;

        li{
            padding: 22px 10px;
        }
        li:hover{
            background-color: rgb(245, 245, 245);
            color: rgb(118, 172, 30) ;
        }
        li:active{
            background-color: rgb(245, 245, 245);
            color: rgb(118, 172, 30) ;
        }
    }

}

#carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image:url(./Images/marjhon-obsioma-lkPiwOlWWfo-unsplash.jpg);
    background-size: cover;
    height: 800px;

    .text-card{
        text-align: start;
        margin-left: 10%;
        border-radius: 10px;
        color: rgb(218, 228, 228);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        width: 35%;

        h1{
            font-size: 28px;
            color: rgb(227, 234, 239);
        }
    }
}

.read{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 800px;
}

.headings{
    margin: 0;
    padding: 0;
    color: rgba(55, 54, 54, 0.926);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
}

hr{
    height: 1px;
    width: 100%;
    margin-bottom: 20%;
}

.containers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 65px 30px;
    width: 100%;

    #formArea{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 25px 15px;
    }

    #img-card{

        img{
            height: auto;
            border-radius: 5px;
            width: 24rem;
            height: auto;
            z-index: 0;
        }
        
        #contentArea{
            width: 20rem;
            margin-top: -70%;
            font-size: 18px;
            font-weight: 600;
            color: rgb(255, 255, 255);
            text-align: justify;
            padding: 15px 30px 15px 30px;
            border-radius: 6px;
            background: rgba(90, 90, 90, 0.596);
            /* z-index: 1; */
        }

    }
}

.content{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
}
#submitForm{
    margin: 20px 20px 20px 40px;
    flex-direction: column;
    height: auto;
    width: 400px;
}
.read div #notes{
    background-color: rgba(89, 164, 13, 0.525);
    margin: 20px 40px 20px 30px;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    width: 400px;
}
#formpad{
    color: rgba(52, 52, 52, 0.975);
    font-size: 16px;
    border: solid 2.8px rgb(227, 225, 225);
    box-shadow: 8px 8px 30px 0.1em rgb(154, 152, 152);
    border-radius: 5px;
    width: 100%;
    height: 300px;
    margin: 60px 20px 30px 10px;
    padding: 30px 20px ;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgba(62, 62, 61, 0.76);
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px;
}
.searchbar{
    float: right;
    padding: 5px 10px;
}
.btn{
    padding: 5px 25px 5px 25px;
    margin: 12px 10px 0px 15px;
    color: rgb(33, 32, 32);
    width: 100px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background-color: rgba(155, 209, 30, 0.952);

}
.btn:hover{
    color: white;
    padding: 5px 25px 5px 25px;
    margin: 12px 10px 0px 15px;;
    width: 100px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background-color: rgba(155, 209, 30, 0.952);
}
.button{
    color: rgb(57, 56, 56);
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    background-color: rgba(155, 209, 30, 0.952);
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 20px;
    position: relative;
    left: 50%;
    cursor: pointer;
}
.button:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 20px;
    position: relative;
    left: 50%;
}
footer{
    margin: -10px -10px;
    padding: 20px 30px 20px 50px;
    background-color: rgba(39, 38, 38, 0.825);
    color: rgb(227, 232, 237);
    height: 200px;
}